component[data-name="card"] {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #0e0e0e;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    transition: opacity .4s ease-in-out;
    color: white;

    h2 {
        margin: 0;
    }

    .card_header {
        width: 100%;
        aspect-ratio: 7/3;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;
    }
    
    .card_title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;
        flex-direction: column;
    }
    
    .card_body {
        padding: 20px;
        position: relative;
        height: fit-content;
    }
}